In [1]:
# imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import datetime

C:\Users\thebe\anaconda\envs\alpacaenv\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
# load env file
load_dotenv("C:\\Users\\thebe\\Fintech\\API_KEYS.env")

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = 'v2'
)

In [4]:
# initialize variables for api
ticker = "GLD"
timeframe = "1D"
current_date = datetime.datetime.now()
start_date = datetime.datetime(current_date.year-5, current_date.month, current_date.day)

In [5]:
# read in data
ticker_data = api.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=current_date,
    limit=1000
).df

ticker_data.head()

                              GLD
                             open     high     low     close    volume
time
2017-05-16 00:00:00-04:00  117.45  117.910  117.40  117.6600   3549305
2017-05-17 00:00:00-04:00  119.36  120.020  119.27  119.8000  12182370
2017-05-18 00:00:00-04:00  119.77  119.840  118.56  118.8200   8196025
2017-05-19 00:00:00-04:00  119.39  119.545  118.88  119.4100   5632797
2017-05-22 00:00:00-04:00  119.63  120.140  119.58  119.8953   3981207

In [12]:
# get crypto data

In [7]:
# clean data

In [8]:
# def sharpe ratio function

In [9]:
# def standard deviations function

In [10]:
# returns

In [11]:
# building visuals with sliders